.heart {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: heart 0.3s ease infinite
  }
  
  @keyframes heart {
    96% {
      transform: translate(-50%,-50%) scale(.8,.8)
    }
  
    100% {
      transform: translate(-50%,-50%) scale(1,1)
    }
  }
  
  .heart div {
    background: red;
    width: 71px;
    height: 126px;
    top: -200px;
    display: block;
    position: absolute;
    border-radius: 1000%
  }
  
  .left {
    left: 45px;
    transform: rotate(330deg);
  }
  
  .right {
    right: 45px;
    transform: rotate(30deg);
  }
  body{
    
    background-color: rgb(98, 0, 255);
    opacity: 0.5;
    background-repeat: repeat-x;
  }
  h1{
    /* border-style: double;
    border-top-style: dotted;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: double;
    border-width: 5px;
    border-color: red blue yellow green;
    border-left: 6px solid red; */
    border: 2px solid red;
    border-radius: 10px;
    
  }